NEXT_PUBLIC_COMPANY_NAME="PT. Nusantara Pasifik Internasional"
NEXT_PUBLIC_COMPANY_SHORT_NAME="Nusantara Pasifik"
NEXT_PUBLIC_COMPANY_WHATSAPP="+628116200964"
NEXT_PUBLIC_COMPANY_WHATSAPP_DISPLAY="+62 811-6200-964"
NEXT_PUBLIC_COMPANY_EMAIL="nusantarapasifik.cs@gmail.com"
NEXT_PUBLIC_COMPANY_ADDRESS="Jalan Makmur No.88T, Komplek Cemara Asri, Medan Estate, Percut Sei Tuan, Kab Deli Serdang, Sumatera Utara"
